.btn-container {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: grey;
}

.btn-container > button {
  width: 100px;
  margin: 10px;
  font-size: 20px;
  border-radius: 4px;
}

.display {
  height: 20%;
  background-color: yellow;
  width: 100%;
  font-size: 20px;
}

.display > p {
  padding: 10px;
  font-size: 20px;
  /* background-color: black; */
}

/* Light Theme */
body {
  background-color: white;
  color: black;
}

/* Dark Theme */
.btn-container.dark-theme {
  background-color: #333;
  color: white;
}
